<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Library Management System</h1>
        <nav>
          <ul>
            <li><a href="books.php">Books</a></li>
            <li><a href="students.php">Authors</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="showcase">
      <div class="container">
        <h1>Welcome to Library Management System</h1>
        <p>
          This is a simple library management system where you can manage books,
          students, issue books and return books.
        </p>
      </div>
    </section>
    <footer>
      <div class="container">
        <p>Library Management System &copy; 2025</p>
      </div>
    </footer>
  </body>
</html>
